body {
  background: #dddddd;
  font-family: "Signika";
  text-align: center;
}

form {
  position: relative;
  width: 500px;
  margin: 50px auto;
  background: #fff;
  border-radius: 5px;
}


.break {
  background-color: #dddddd;
  height: 2px;
  width: 900px;
}

input {
  font-size: 20px;
  font-family: "Aller Light";
  border: none;
  border-radius: 5px;
  padding: 15px;
  width: 470px;
  color: #2c3e50;
}
input:focus {
  color: #555;
  outline: none;
}

::-webkit-input-placeholder {
  color: #d3dadb;
}


@media screen and (max-width: 300px) {
    .cancelbtn, .submitbtn {
       width: 100%;
    }
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    background-color: #555;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.submitbtn {
    float: left;
    width: 50%;
}

.goback{
    background-color: black;
    width: 100%;
}

.select_join select {
   font-size: 20px;
   font-family: "Aller Light";
   border: none;
   font-size: 20px;
   border-radius: 5px;
   padding: 15px;
   width: 470px;
   color: #2c3e50;
   background: transparent;
   -webkit-appearance: none;
   
   }
   .select_join select:focus {
    outline: none;

}