body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
/*    color: #777;*/
    line-height: 1.8;
}

#logo{
    padding-right: 0;
}
#home{
    padding-left: 6px;
}
/* Create a Parallax Effect */
.bgimg-1{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url(../img/welcome.jpg);
    min-height: 100%;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1{
        background-attachment: scroll;
    }
}

/*Travel package display*/
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    padding-top: 60px;
    font-size: calc(10px + (32 - 10) * ((100vw - 300px) / (1600 - 300)));
    width: 25%;
    text-align: center;
}

.tablink:hover {
    background-color: #777;
}


#details{
    cursor: auto;
}
#imagedisplay{
    position: relative;
    width: 100%;
    border-right: 10px solid #555;
    cursor: pointer;
}

p{
    font-size: calc(5px + (26 - 5) * ((100vw - 300px) / (1600 - 300)));
}
h3{
    font-weight: bold;
    font-size: calc(13px + (32 - 13) * ((100vw - 300px) / (1600 - 300)));
}
h1{
    font-weight: bold;
    border-bottom:  5px solid black;
    font-size: calc(15px + (38 - 15) * ((100vw - 300px) / (1600 - 300)));
}
h5{
    font-size: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
}
.imgs{
    padding: 0;
    margin: 0;
}

.banner{
    color:white;
    text-shadow: 2px 2px 8px #000000;
    padding-top: 80px !important;
}
.message{
    padding-top: 20px !important;
    font-weight: bold;
}
/*    register styles */

.reg{
    width: 100%;
    margin-left: 10%;
    font-family:arial, georgia; 
    font-weight: bold;
    padding-bottom: 10%;
}
#fname,#lname,#username,#pwd,#postal,#email{
        width: 40%;
        padding: 10px 20px;
        margin: 8px 0px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
}
#savereg,#resetreg{

    background-color: #333333;
    color: white;
    padding: 14px 20px;
    margin: 8px 5px 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    text-align: center;
    display: inline-block;
    font-size: 16px;


}
.formtext {
    padding: 20px 0;
}
    
.register{
    background-image: url("img/regbg.jpg");
    background-size: cover;
 }

@media only screen and (max-width: 1024px) {
input[type="text"],input[type="password"],input[type="email"] {
       width: 80%;
    }
}
